
  <div class="header">
    <h3>Tittle: {{post?.title}}</h3>
    <p>Author: {{post?.author}}</p>
    </div>
<div class= "comments">

<div class="commentscontainer" *ngIf="post?.comments">
  <div class="subcommentscontainer"  *ngFor="let comment of post?.comments">
    <app-single-comment [comment] = "comment"></app-single-comment>
  </div>
</div>
<form>
<div  *ngIf="!(availableState.token==='')" class= "new">
  <br>
<input required name = "newAuthor" type="text" [(ngModel)]="newAuthor" placeholder ="Author">
<br>
<br>
<input  class="contentinput" required  name = "newContent" type="text" [(ngModel)]="newContent" placeholder ="Content">


<button class="button" (click)="submitCommentt() ">
  <img class="whatsimg" src="../../../assets/images/icon.png"></button>
</div>
</form>
</div>
