
<h2>Main</h2>
<label for = "newTittle">Tittle: </label>
<input name = "newTittle" type="text" [(ngModel)]="newTittle" placeholder ="newTittle">
<br>
<br>
<label for = "newAuthor">Author: </label>
<input name = "newAuthor" type="text" [(ngModel)]="newAuthor" placeholder ="newAuthor">
<br>
<br>
<button (click)="submitPost()">Save Post</button>
<br>
<br>
<h3>Post List: </h3>
<br>
<div *ngIf="posts">
<div *ngFor="let post of posts">
  <a routerLink="/detail/{{post.aggregateId}}">
     {{post.title}}
  </a><br><br>

</div>
</div>
