

<div *ngIf="!(availableState.token==='')" class="new">
<label for = "newTittle">Create a Post: </label>
<br><br>
<input required minlength="4" name = "newTittle" type="text" [(ngModel)]="newTittle" placeholder ="Tittle">
<br>
<br>
<input required minlength="4" name = "newAuthor" type="text" [(ngModel)]="newAuthor" placeholder ="Author">


<button class="button" (click)="submitPost()">
  <img  class="whatsimg" src="../../../assets/images/arrow.png" >
</button>
<br>
<br>
</div>


<div *ngIf="posts">
<div *ngFor="let post of posts">
 <p> <a class="post" routerLink="/detail/{{post.aggregateId}}">
     {{post.title}} - {{post.author}}
  </a></p>
</div>
</div>
